header {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    width: 100%;

    nav {
        #logo-container {
            h2 {
                font-weight: 700;
                margin-bottom: 0;
            }
        }
    }
}